<style>
    table.menu td {
        border: 8px outset saddlebrown;
    }

    table.menu td:hover {
        border-color: sandybrown;
    }
</style>
<table class="menu">
  <tr>
    <td>Игра</td>
  </tr>
  <tr>
    <td>Треннировка</td>
  </tr>
  <tr>
    <td>Арена</td>
  </tr>
</table>